.footer-bg {
    background: #000000;
    color: #ffffff;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 200px;
    padding: 100px;
    max-width: 960px;
    text-align: center;
}

.footer-endereco p {
    font-size: 18px;
    color: #DADADA;
    margin-bottom: 20px;
}

.footer-endereco h1 {
    font-size: 20px;
    color: #DADADA;
    font-family: "Poppins", Arial, sans-serif;
}

.footer-contato h1 {
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 20px;
}

.footer-contato p {
    font-size: 18px;
    color: #DADADA;
    margin-bottom: 4px;
    cursor: pointer;
}

.footer-contato p:hover {
    color: #ffffff;
    font-weight: 600;
}

@media (max-width: 820px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 60px;
        padding: 80px;
    }
}

@media (max-width: 500px) {
    .footer-endereco p {
        font-size: 14px;
    }
    
    .footer-endereco h1 {
        font-size: 15px;
    }
    .footer-contato h1 {
        font-size: 24px;
    }
    .footer-contato p {
        font-size: 14px;
    }
}
